body[data-layout="app"] .appShell {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 232px 1fr;
    /* später sidebar */
}

body[data-layout="app"] #viewRoot {
    padding: 24px;
}