<section class="auth">
    <h1>Sign up</h1>

    <form class="auth__form" data-action="SIGNUP_SUBMIT">
        <label class="auth__label">
            Email
            <input class="auth__input" name="email" type="email" autocomplete="username" required />
        </label>

        <label class="auth__label">
            Password
            <input class="auth__input" name="password" type="password" autocomplete="new-password" required />
        </label>

        <button class="auth__btn" type="submit">Create account</button>
    </form>

    <p class="auth__hint">
        Have an account?
        <button class="auth__link" type="button" data-nav="login">Log in</button>
    </p>
</section>